@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #8981fe;
   --color2b: #4a56f9;
   --color2c: #7d74fe;
   --color3: #ed254e;
   --color4: #a2faa3;
   --color5: #fffaff;
}

div.page-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 73vh;
   width: 100vw;
   background-color: transparent;
}

div.informations-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 60vh;
   width: 60vw;
   background-color: transparent;

   & h1.title{
      color: var(--color2b);
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-shadow: -1px 1px 0px white;
   }
}

div.informations{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 50vh;
   width: 60vw;
   border: 2px solid white;
   border-radius: 10px;

   & div.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 22%;
      width: 90%;
      background-color: transparent;

      & span{
         font-size: 35px;
      }

      & h2{
         font-size: 25px;
      }
   }

   & div.information{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 26vh;
      width: 47vw;
      margin-top: 2%;
      overflow-y: auto;  /* vertical scroll */
      overflow-x: hidden; /* hidden horizontal scroll */
      background-color: transparent;

      & p{
         font-size: 16px;
         font-weight: bold;
         max-height: 100%;
         width: 80%;
      }

      & p.documents{
         white-space: pre-wrap;
         text-align: left;
      }

      & p.list{
         margin-bottom: 10px;
      }

      & div.add-documents{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 20vh;
         width: 10vw;
         margin-top: 2%;
         border-radius: 100%;
         cursor: pointer;
         transition: transform 0.3s ease-in-out;

         & img{
            height: 40%;
            width: 40%;
         }
      }
      & div.add-documents:hover{
         transform: scale(1.02);
         background-color: rgba(255, 255, 255, 0.073);
      }
   }
}

div.footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   height: 10vh;
   width: 60vw;
   background-color: transparent;

   & span{
      font-size: 35px;
   }
}