@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #8981fe;
   --color2b: #4a56f9;
   --color3: #ed254e;
   --color4: #a2faa3;
   --color5: #fffaff;
}

div.informations{
   height: 50vh;

   & .options-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 5vh;
      width: 10%;
      margin-top: 10px;

      & span{
         font-size: 28px;
      }
      & span.add:hover{
         color: var(--color2);
      }
      & span.delete:hover{
         color: var(--color3);
      }
   }
}

div.information{
   height: 30vh !important;
}