@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #8981fe;
   --color2b: #4a56f9;
   --color3: #ed254e;
   --color4: #a2faa3;
   --color5: #fffaff;
}

div.informations{
   height: 50vh;

   & .delete-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5vh;
      width: 100%;
      margin-top: 10px;
      background-color: transparent;

      & span{
         font-size: 25px;
      }
      & span:hover{
         color: red;
      }
   }
}

div.information{
   height: 30vh !important;
}