@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #8981fe;
   --color2b: #4a56f9;
   --color2c: #7d74fe;
   --color3: #ed254e;
   --color4: #a2faa3;
   --color5: #fffaff;
}


/* general */


*{
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   margin: 0;
   color: azure;
   text-align: center;
   transition: ease-in-out transform 0.2s;
}

html, body{
   margin: 0;
   padding: 0;
   height: 100%;
}


/* specific tags */


input:focus{
   outline: none;
}

select:focus{
   outline: none;
}

textarea:focus{
   outline: none;
}

.title-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 48px;
   width: 16vw;
   
   & .codemind-title{
      color: var(--color2b);
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-shadow: -1px 1px 0px white;
      margin: 0px;
   }

   & .img-title{
      height: 100%;
      width: 50px;
   }
}

button{
   cursor: pointer;
   transition: ease-in-out transform 0.1s;
}
button:hover{
   transform: scale(1.02);
}

.advice{
   font-size: 13px;
   font-weight: 500;
   font-style: italic;
   margin-top: 20px;
}


/* tooltip */


.tooltip_btt{
   background-color: transparent;
   border: none;
   transition: ease-in-out transform 0.2s;
}
.tooltip_btt:hover{
   transform: scale(1.05);
}

.tooltip {
   position: relative;
   display: inline-block;
   cursor: pointer;
}

.tooltip::after {
   content: attr(data-tooltip);
   position: absolute;
   bottom: 120%;
   left: 50%;
   transform: translateX(-50%);
   background: var(--color1);
   border: 2px solid var(--color5);
   color: #fff;
   padding: 6px 15px;
   border-radius: 6px;
   font-size: 13px;
   white-space: nowrap;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease;
}

.tooltip:hover::after {
   opacity: 1;
}


/* loading */


.loading_msg{
   font-size: 17px;
   font-style: italic;
}

.loading_img{
   height: 40px;
   width: 40px;
   animation: spin 1s linear infinite;
}


/* scrolls */


/* Chrome, Edge and Safari */
form::-webkit-scrollbar {
   height: 9px;
   width: 9px;
}
form::-webkit-scrollbar-track {
   border-radius: 5px;
   background-color: transparent;
}
form::-webkit-scrollbar-track:hover {
   background-color: transparent;
}
form::-webkit-scrollbar-track:active {
   background-color: transparent;
}
form::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: var(--color2);
}
form::-webkit-scrollbar-thumb:hover {
   background-color: var(--color2c);
}
form::-webkit-scrollbar-thumb:active {
   background-color: var(--color2b);
}


/* animations */


@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}