@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #8981fe;
   --color2b: #4a56f9;
   --color2c: #7d74fe;
   --color3: #ed254e;
   --color4: #a2faa3;
   --color5: #fffaff;
}

div.page-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 85vh;
   width: 85vw;
   background-color: transparent;
}

h1.title{
   font-size: 35px;
}

div.analysis-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 65vh;
   width: 85vw;
   background-color: transparent;

   & div.options{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 60px;
      width: 45vw;
      border-radius: 10px;
      background-color: #171d27;

      & button{
         height: 95%;
         width: 24%;
         border: none;
         border-radius: 10px;
         background-color: transparent;
         color: white;
         font-weight: bold;
      }
      & button:hover{
         background-color: #545ffe22;
      }

      & button.clicked{
         color: white;
         background-color: var(--color2b);
      }
   }

   & div.data-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 32vh;
      width: 60vw;
      padding: 50px 10px;
      background-color: #171d27;
      border: 0px solid white;
      border-radius: 10px;
      overflow-y: auto;  /* vertical scroll */
      overflow-x: hidden; /* hidden horizontal scroll */

      & p{
         width: 70%;
         font-size: 17px;
         font-weight: 500;
         white-space: pre-wrap;
         text-align: center;
         background-color: transparent;
      }

      & p.list{
         text-align: left;
         margin-bottom: 35px;
      }
   }

   & div.buttons{
      display: flex;
      justify-content: space-between;
      height: 57px;
      width: 28vw;

      & button{
         height: 100%;
         width: 48%;
         border: none;
         border-radius: 10px;
         background-color: var(--color2b);
         color: white;
         font-weight: bold;
         font-size: 14px;
      }

      & button.copy-btt{
         background-color: transparent;
         border: 2px solid white;
      }
   }
}

div.footer{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   height: 8vh;
   width: 85vw;
   background-color: transparent;

   & div.img-container{
      height: 40px;
      width: 40px;
      margin-left: 13%;
      border: 2px solid white;
      border-radius: 100%;
      background-color: white;
      transition: transform 0.1s ease-in-out;
      cursor: pointer;

      & img{
         height: 100%;
         width: 100%;
      }
   }
   & div.img-container:hover{
      transform: scale(1.04);
   }
}