@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #8981fe;
   --color2b: #4a56f9;
   --color2c: #7d74fe;
   --color3: #ed254e;
   --color4: #a2faa3;
   --color5: #fffaff;
}

h1{
   font-size: 27px;
}

div.page-container{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 90vh;
   width: 85vw;
   background-color: transparent;
}

div.inAnalysis-container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 60vh;
   width: 60vw;
   background-color: transparent;

   & h1{
      font-size: 35px;
   }

   & div.inAnalysis-status{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 30vh;
      width: 100%;
      margin-top: 20px;
      background-color: transparent;

      & div.status{
         display: flex;
         justify-content: flex-start;
         align-items: center;
         height: 25%;
         width: 80%;
         background-color: transparent;
         border: 0px solid white;

         & h2{
            font-size: 22px;
         }

         & img{
            height: 30px;
            width: 30px;
         }
      }
   }
}

div.inputs-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   height: 65vh;
   width: 85vw;
   background-color: transparent;
}

& div.input{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 36vh;
   width: 42vw;
   align-items: center;
   background-color: transparent;
   
   & textarea{
      height: 60%;
      min-height: 60%;
      max-height: 60%;
      width: 80%;
      min-width: 80%;
      max-width: 80%;
      padding: 15px 0px;
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid white;
   }

   & p{
      font-size: 15px;
      font-style: italic;
   }
}

div.filled-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 50vh;
   width: 42vw;
   background-color: transparent;

   & div.advice{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: transparent;

      & .img-container{
         height: 40px;
         width: 40px;
         margin-top: 10px;

         & img{
            height: 100%;
            width: 100%;
         }
      }
   }

   & button{
      height: 7vh;
      width: 30%;
      margin-top: 30px;
      border: none;
      border-radius: 10px;
      border: 2px solid white;
      font-size: 14px;
      font-weight: bold;
      background-color: transparent;
      color: white;
   }
}

div.code-container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 65vh;
   width: 42vw;
   background-color: transparent;

   & button{
      height: 6.5vh;
      width: 35%;
      margin-top: 30px;
      border: none;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 700;
      background-color: var(--color2b);
      color: white;
   }
}

div.line-division{
   height: 60%;
   width: 2px;
   margin-top: 5%;
   background-color: #161c25;
}

div.context-container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 65vh;
   width: 42vw;
   background-color: transparent;

   & button{
      height: 6.5vh;
      width: 35%;
      margin-top: 30px;
      border: none;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
      background-color: var(--color2b);
      color: white;
   }

   & div.examples{
      padding: 10px 30px;
      margin-top: 30px;
      background-color: transparent;

      & h3{
         font-size: 18px;
         margin-bottom: 5px;
      }

      & p{
         font-size: 14px;
         font-weight: 600;
         text-align: left;
      }
   }
}

button.analysis-btt{
   height: 7vh;
   width: 13vw;
   border: none;
   border-radius: 10px;
   font-size: 15px;
   font-weight: bold;
   background-color: var(--color2b);
   color: white;
}

div.footer{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   height: 7vh;
   width: 75vw;
   background-color: transparent;

   & span{
      font-size: 35px;
   }
}